{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}
<div class="container">

<div style="text-align: center;">
    <h3 style="color:white"> Mostrar el archivo de clientes </h3>
    <br>

</div>
  <div class="row">

{% for archivo in archivos  %}

    <div class="col-md-3">

    <div class="card" style="width: 100%; margin: 5px 5px;">

        <!-- <img src="{{producto.imagen.url}}" class="card-img-top">   -->

        <div class="card-body" style="text-align: center;">

            <h7 class="card-title">{{archivo.nombre}}</h7>
            <img src="{{archivo.imagen.url}}" class="card-img-top">
          <!--   <p class="card-text">{{archivo.datos}}&nbsp;</p> -->


        </div>
        {% if archivo.id == 11 %}
        <div class="card-footer text-center">
            <div><a href="{% url 'mostrar_datos_db' archivo.id separador.0 %}" class="btn btn-success">Mostrar (,)</a> </div>

        </div>
       {% endif %}
    </div><!--card que se cierra-->

  </div>


{% endfor %}
  </div>
<br>

</div>

<div style="text-align: center;">
    <h3 style="color:white"> O puede obtener el perfil del cliente para acceder a descuentos y promociones  </h3>
    <br>
<a href="{% url 'cliente_db' %}" class="btn btn-success" style="background-color:rgb(50, 150, 50)"> Obtener el perfil del cliente  </a>
    <br>
    <br>
</div>

{% endblock %}